<!doctype html>
<head>
    <title>ANVIL DEMO</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!--Style to override ANVIL Apps stylesheet-->
    <style>
        .copy {
            font-size: 3vh !important;
            margin-bottom: 3vh;
        }
    </style>
</head>
<body>
{% if setuo %}
    <h1></h1>
    {% if not xyz %}
        <form action="/issue" method="post">
            <button name="issue" type="submit">ISSUE CREDENTIAL</button>
        </form>
    {% endif %}
{% else %}
    <h1>Server overloaded. We didn't expect this much traffic.</h1>
    <form action="https://www.github.com/OutlierVentures/ANVIL" method="post">
        <button name="github" type="submit">VIEW THE CODE INSTEAD</button>
    </form>
{% endif %}
</body>
